services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: hotel
      POSTGRES_PASSWORD: hotel
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  kafka:
    image: bitnami/kafka:3.7
    environment:
      KAFKA_ENABLE_KRAFT: "yes"
      KAFKA_CFG_NODE_ID: 1
      KAFKA_CFG_PROCESS_ROLES: broker,controller
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
    ports:
      - "9092:9092"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.3
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"

  auth-service:
    build: 
      context: .
      dockerfile: auth-service/Dockerfile
    environment:
      SPRING_PROFILES_ACTIVE: dev
    ports:
      - "8081:8081"
    depends_on:
      - postgres

  booking-service:
    build: 
      context: .
      dockerfile: booking-service/Dockerfile
    environment:
      SPRING_PROFILES_ACTIVE: dev
    ports:
      - "8082:8082"
    depends_on:
      - postgres

  room-service:
    build: 
      context: .
      dockerfile: room-service/Dockerfile
    environment:
      SPRING_PROFILES_ACTIVE: dev
    ports:
      - "8083:8083"
    depends_on:
      - postgres

  web-frontend:
    build: ./web-frontend
    ports:
      - "5999:5999"
    depends_on:
      - auth-service
      - booking-service
      - room-service

volumes:
  pgdata:


