spring:
  application:
    name: booking-service
  datasource:
    url: jdbc:postgresql://localhost:5432/hotel_booking
    username: hotel
    password: hotel
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: false
server:
  port: 8082


